<header class="header">
  <nav class="nav-container">
    <div class="nav-group">
      <a href="#home" class="nav-link" [class.active]="activeSection === 'home'" (click)="scrollTo('home')">Home</a>
      <a href="#about" class="nav-link" [class.active]="activeSection === 'about'" (click)="scrollTo('about')">About</a>
      <a href="#services" class="nav-link" [class.active]="activeSection === 'services'" (click)="scrollTo('services')">Service</a>
    </div>

    <div class="nav-logo">
      <a href="#" class="logo-link" aria-label="Bebeto" title="Bebeto">
        <div class="logo-box">
          <img src="Assets/Bebeto-logo.png" alt="Bebeto logo" class="logo-img">
        </div>
        <span class="logo-text">𝔅𝔢𝔟𝔢𝔱𝔬</span>
      </a>
    </div>

    <div class="nav-group">
      <a href="#resume" class="nav-link" [class.active]="activeSection === 'resume'" (click)="scrollTo('resume')">Resume</a>
      <a href="#portfolio" class="nav-link" [class.active]="activeSection === 'portfolio'" (click)="scrollTo('portfolio')">Project</a>
      <a href="#contact" class="nav-link" [class.active]="activeSection === 'contact'" (click)="scrollTo('contact')">Contact</a>
    </div>
  </nav>
</header>