<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <h2 class="footer-title">Lets Connect there</h2>
      <button class="btn-hire-footer" (click)="hireMe()">
        Hire me <i class="fa-solid fa-arrow-up-right"></i>
      </button>
    </div>

    <div class="footer-content">
      <div class="footer-col brand-col">
        <div class="footer-logo">
          <span class="logo-icon">JC</span>
          <span class="logo-text">BEBETOS</span>
        </div>
        <p class="footer-desc">
          Lorem ipsum dolor sit amet, cnsectetur adipiscing elit. Sed congue interdum ligula a dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis orci elementum egestas lobortis.
        </p>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>

      <div class="footer-col">
        <h4 class="col-title">Navigation</h4>
        <ul class="footer-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Resume</a></li>
          <li><a href="#">Project</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4 class="col-title">Contact</h4>
        <ul class="footer-list">
          <li class="contact-item">+257 76 197 888</li>
          <li class="contact-item">mezimorel12@gmail.com</li>
          <li class="contact-item">bebeto.com</li>
        </ul>
      </div>

      <div class="footer-col newsletter-col">
        <h4 class="col-title">Get the latest information</h4>
        <div class="email-input-wrapper">
          <input type="email" placeholder="Email Address">
          <button class="send-btn">
            <i class="fa-solid fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="copyright">Copyright© 2025 Bebeto. All Rights Reserved.</p>
      <div class="footer-policy">
        <a href="#">User Terms & Conditions</a> | <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>